body {
	font-family: Roboto;
	font-style: normal;
}

h1 {
	font-weight: bold;
	font-size: 45px;
	line-height: 42px;
}
.table {
	font-size: 27px;
	line-height: 32px;
}
.table th {
	padding-left: 0px;
}
.textarea {
	width: 2000px;
}
.button {
	font-weight: bold;
	font-size: 27px;
	line-height: 32px;

	width: 300px;
	height: 70px;
	background: #FAD000;
	border-radius: 12px;
}
.button:hover {
	background: #009DC8;
	color: #FAD000;
	text-decoration: none;
}