body {
	font-family: Roboto;
	font-style: normal;
}

h1 {
	font-weight: bold;
	font-size: 50px;
	line-height: 59px;
}

.mobil {
	font-weight: bold;
	font-size: 35px;
	line-height: 41px;
}
.harga {
	font-weight: bold;
	font-size: 35px;
	line-height: 41px;

	color: #D87A45;
}
a {
	color: #000000;
}