@import '../responsive';

body {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
}
.mobil, .rating, .harga{
	display: block;
}
.mobil {
	font-weight: bold;
    font-size: 2em;
    @include responsive(phone){
        font-size: 1em;
    }
}
.rating {
    font-size: 2.2em;
    @include responsive(phone){
        font-size: 1.5em;
    }
}
.harga {
	font-weight: bold;
    font-size: 2em;
    color: #FAD000;
    @include responsive(phone){
        font-size: 1.2em;
    }
}
.tabelDiv{
    width: 40%;
    @include responsive(phone){
        width: 100%;
    }
}
table {
    width:100%;
    font-size: 1em;
    @include responsive(phone){
        font-size: .7em;
        width: 100%;
    }
}
.text {
    font-size: 1em;
    @include responsive(phone){
        font-size: .8em;
    }
}
.carImg {
	width: 100%;
}
.content{
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.row{
    margin: 0 !important;
}