body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.mobil, .rating, .harga {
  display: block;
}

.mobil {
  font-weight: bold;
  font-size: 2em;
}

@media only screen and (max-width: 750px) {
  .mobil {
    font-size: 1em;
  }
}

.rating {
  font-size: 2.2em;
}

@media only screen and (max-width: 750px) {
  .rating {
    font-size: 1.5em;
  }
}

.harga {
  font-weight: bold;
  font-size: 2em;
  color: #FAD000;
}

@media only screen and (max-width: 750px) {
  .harga {
    font-size: 1.2em;
  }
}

.tabelDiv {
  width: 40%;
}

@media only screen and (max-width: 750px) {
  .tabelDiv {
    width: 100%;
  }
}

table {
  width: 100%;
  font-size: 1em;
}

@media only screen and (max-width: 750px) {
  table {
    font-size: .7em;
    width: 100%;
  }
}

.text {
  font-size: 1em;
}

@media only screen and (max-width: 750px) {
  .text {
    font-size: .8em;
  }
}

.carImg {
  width: 100%;
}

.content {
  padding: 3em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.row {
  margin: 0 !important;
}

.red {
  color:red;
}
/*# sourceMappingURL=style_detail.css.map */