.form-login{
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 7vh;
    box-shadow: -1px 2px 7px 2px #e3eaf5eb;
}
.login-google{
    transform-origin: left;
}
.login-google:hover{
    transform: scale(1.01);
}