{% extends 'layout.html' %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/mobil/style_tambah_mobil.css' %}">
{% endblock css%}
{% block title %} Artikel {% endblock title%}

{% block content %}
<!DOCTYPE html>


<html>
<head>
    <title>
        Breaking News: Cat does not give a damn
    </title>
    <style type="text/css">

    </style>
</head>
<body>
    <style type="text/css">
        body { font-family: Roboto; }
        h1 {
            font-family: Roboto;
            font-weight: bold;
            margin-top: 100px;
            margin-bottom: 100 px;
            color: rgb(74, 53, 53);

        }
        h2 {
            font-family: Roboto;
            font-weight: bold;
            font-family: Roboto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        
        }
        a {
            font-family: Roboto;
            font-weight: bold;
            margin-top: 100px;
            margin-bottom: 100 px;
        }
        .button:hover{
            color : #009DC8;
            
        }
        .button {
            color: rgb(74, 53, 53);
        }
        article {
            width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
        .image-wrapper {
            width: 200px;
            float: left;
            padding-right: 25px;
            padding-bottom: 10px;
        }
        .image-wrapper img {
            width: 100%;
        }
    
        .image-wrapper span {
            font-family: Roboto;
            font-size: 10px;
            color: #ccc;
        }
    
        .article-meta {
            font-family: Roboto;
            color: #aaa;
            font-size: 12px;
        }
        p {
            font-size: 14px;

        }
    </style>
    <article>
        <h2>Artikel</h2>
        {% for i in list_artikel %}
            <h1><a href="\artikel\details\{{i.id}}" class='button'>{{i.judul}}</a></h1>
            <p><strong>Author:</strong> {{i.penulis}}, <strong>Published:</strong> {{i.waktu_tulis}}</p>
            <div>
                <img src="https://www.otomart.id/berita/wp-content/uploads/2018/12/jenis-mobil.jpg">
                <span>Image source: https://www.otomart.id/berita/wp-content/uploads/2018/12/jenis-mobil.jpg</span>
            </div>
            <p>
                {{i.isi}}
            </p>

        {% endfor %}

    </article>

</body>
</html>
{% endblock %}



