{% extends 'layout.html' %}
{% load static %}
{% block content %}

<body>
    <style type="text/css">
        body { font-family: Roboto; }
        h1 {
            font-family: Roboto;
            margin-top: 100px;
            margin-bottom: 100 px;
        }
        h2 {
            font-family: Roboto;
            font-weight: bold;
            font-family: Roboto;
            margin-top: 5vh;
        
        }
        article {
            width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
        .image-wrapper {
            width: 200px;
            float: left;
            padding-right: 25px;
            padding-bottom: 10px;
        }
        .image-wrapper img {
            width: 100%;
        }
    
        .image-wrapper span {
            font-family: Roboto;
            font-size: 10px;
            color: #ccc;
        }
    
        .article-meta {
            font-family: Roboto;
            color: #aaa;
            font-size: 12px;
        }
        p {
            font-size: 14px;

        }
    </style>

    <article>
        <h2>Artikel</h2>

    </article>
       
    <article>
        <div class="form-cont"></div>
            <p><strong>Komentar</strong></p>
            <form method="POST" class="form">
                {% csrf_token %}
                <p>Nama</p>
                {{ form.commenter }}
                <p>Komentar</p>
                {{ form.comment }}
                <div class="full">
                    <input type="submit" class="button" value="Submit" />
                </div>
            </form>
        </div>
    </article>

<!--     <article>
    {% for i in list_comment %}
    <h2><span>{{ i.commenter }}</span> - {{ i.waktu_tulis }}</h2>
    <p>
        {{i.comment}}
    </p>
    <article>
        
    {% endfor %}
 -->

</body>
{% endblock %}








