div.content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content span{
    font-size: 5.5em;
    font-weight: 700;
}
@media only screen and (max-width: 600px) {
    div.content span {
      font-size: 2.8em;
    }
  }