.containerGreeting {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(rgba(0, 157, 200, 0.87)), to(rgba(0, 157, 200, 0.87))), url("../img/photoMobil.png");
  background: linear-gradient(0, rgba(0, 157, 200, 0.87), rgba(0, 157, 200, 0.87)), url("../img/photoMobil.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .containerGreeting {
    height: 50vh;
  }
}

@media only screen and (max-width: 750px) {
  .containerGreeting {
    height: 100vh;
  }
}

.containerGreeting .greeting {
  width: 60%;
  padding-bottom: 5rem;
}

@media only screen and (max-width: 750px) {
  .containerGreeting .greeting {
    width: 90%;
    padding-bottom: 0;
  }
}

.carRating {
  width: 100%;
  height: 50vh;
  background-color: white;
}

.artikel {
  width: 100%;
  height: 70vh;
  background-color: white;
}
/*# sourceMappingURL=landingpage.css.map */