@import './responsive';

.containerGreeting{
    width: 100%;
    height: 100vh;
    background: linear-gradient(0, rgba(0, 157, 200, 0.87), rgba(0, 157, 200, 0.87)),url('../img/photoMobil.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    @include responsive(tabPort){
        height: 50vh;
    }
    @include responsive(phone){
        height: 100vh;
    }
    .greeting{
        width: 60%;
        padding-bottom: 5rem;
        @include responsive(phone){
            width: 90%;
            padding-bottom: 0;
        }
    }
}
.carRating{
    width: 100%;
    height: 50vh;
    background-color: white;
}
.artikel{
    width: 100%;
    height: 70vh;
    background-color: white;
}