@import './responsive';

body{
    margin: 0;
    font-family: 'Roboto';
}
.navbar{
    width: 100%;
    .option{
        @include responsive(phone){
            display: none;
        }
        span a{
            color: black;
            text-decoration: none;
            padding: 1em;
        }
        .btn-group{
            .dropdown-menu{
                left: -115%;
            }
        }
    }
    .mobile-nav{
        display: none;
        @include responsive(phone){
            display: block;
        }
        button{
            font-size: 1em;
        }
    }
}
.footer{
    width: 100%;
    background-color: #009DC8;
    .logo{
        padding: 1em 2em;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .isi{
        padding: 0 2em 0 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include responsive(phone){
            flex-direction: column;
            justify-content: flex-start;
            padding-bottom: 1em;
        }
        .tentang-kami{
            width: 40%;
            @include responsive(phone){
                width: 100%;
            }
        }
        .kontak-lokasi{
            width: 30%;
            padding: 0 2%;
            position: relative;
            bottom: 35px;
            @include responsive(phone){
                width: 100%;
                bottom: 0;
                padding: 0;
            }
            .kontak{
                display: flex;
                flex-direction: column;
                box-sizing: unset;
                a{
                    color: black;
                    text-decoration: none;
                }
                .sosmed{
                    padding: .5em 0;
                    a{
                        padding: .5em;
                    }
                }
            }
        }
    }
}

// important overide boostrapt
.yellow{
    background-color: #FAD000 !important;
}
.blue{
    background-color: #009DC8 !important;
}
.white{
    background-color: white !important;
}
.btn-outline-warning{
    background-color: white !important;
    color: #FAD000 !important;
    &:hover{
        color: white !important;
        background-color: #FAD000 !important;
    }
}
.btn-nav-login{
    color: black !important;
    background-color: #FAD000 !important;
    &:hover{
        color: white !important;
    }
}