body {
  margin: 0;
  font-family: 'Roboto';
}

.navbar {
  width: 100%;
}

@media only screen and (max-width: 750px) {
  .navbar .option {
    display: none;
  }
}

.navbar .option span a {
  color: black;
  text-decoration: none;
  padding: 1em;
}

.navbar .option .btn-group .dropdown-menu {
  left: -115%;
}

.navbar .mobile-nav {
  display: none;
}

@media only screen and (max-width: 750px) {
  .navbar .mobile-nav {
    display: block;
  }
}

.navbar .mobile-nav button {
  font-size: 1em;
}

.footer {
  width: 100%;
  background-color: #009DC8;
}

.footer .logo {
  padding: 1em 2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .isi {
  padding: 0 2em 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 750px) {
  .footer .isi {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 1em;
  }
}

.footer .isi .tentang-kami {
  width: 40%;
}

@media only screen and (max-width: 750px) {
  .footer .isi .tentang-kami {
    width: 100%;
  }
}

.footer .isi .kontak-lokasi {
  width: 30%;
  padding: 0 2%;
  position: relative;
  bottom: 35px;
}

@media only screen and (max-width: 750px) {
  .footer .isi .kontak-lokasi {
    width: 100%;
    bottom: 0;
    padding: 0;
  }
}

.footer .isi .kontak-lokasi .kontak {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: unset;
          box-sizing: unset;
}

.footer .isi .kontak-lokasi .kontak a {
  color: black;
  text-decoration: none;
}

.footer .isi .kontak-lokasi .kontak .sosmed {
  padding: .5em 0;
}

.footer .isi .kontak-lokasi .kontak .sosmed a {
  padding: .5em;
}

.yellow {
  background-color: #FAD000 !important;
}

.blue {
  background-color: #009DC8 !important;
}

.white {
  background-color: white !important;
}

.btn-outline-warning {
  background-color: white !important;
  color: #FAD000 !important;
}

.btn-outline-warning:hover {
  color: white !important;
  background-color: #FAD000 !important;
}

.btn-nav-login {
  color: black !important;
  background-color: #FAD000 !important;
}

.btn-nav-login:hover {
  color: white !important;
}
/*# sourceMappingURL=layout.css.map */