.content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 2em;
}

.content .header {
  font-size: 3em;
  font-weight: 500;
}

.content .search-bar {
  width: 60%;
  position: relative;
}

.content .search-bar input {
  width: 100%;
  border: 2px solid #009DC8;
  text-align: center;
  border-radius: .5rem;
  position: relative;
  z-index: 3;
}

.content .search-bar input:focus {
  outline: none;
}

.content .search-bar .name-suggestion-box {
  width: 100%;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 0;
  z-index: 2;
  border-radius: .5rem;
  background-color: #009DC8;
  padding: 2.5rem 1.25rem 1.25rem 1.25rem;
}

.content .search-bar .name-suggestion-box .name-suggest {
  padding: .35rem;
  margin: .35rem;
  font-size: .8rem;
  font-weight: 500;
  background-color: #FAD000;
  border: 2px solid #e7c51a;
  border-radius: .3rem;
  cursor: pointer;
  opacity: .9;
}

.content .search-bar .name-suggestion-box .name-suggest:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .search-bar .overlay-background {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  opacity: .5;
  background-color: black;
}

.content .bodyContent {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .content-empty {
  height: inherit;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .content-empty .message {
  color: #FAD000;
  font-size: 5em;
  font-weight: 700;
}

@media only screen and (max-width: 750px) {
  .content .content-empty .message {
    font-size: 2em;
    font-weight: 500;
  }
}
/*# sourceMappingURL=list.css.map */