@import './responsive';

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;
    .header{
        font-size: 3em;
        font-weight: 500;
    }
    .search-bar{
        width: 60%;
        position: relative;
        input{
            width: 100%;
            border: 2px solid #009DC8;
            text-align: center;
            border-radius: .5rem;
            position: relative;
            z-index: 3;
            &:focus{
                outline: none;
            }
        }
        .name-suggestion-box{
            width: 100%;
            display: none;
            flex-wrap: wrap;
            position: absolute;
            top: 0;
            z-index: 2;
            border-radius: .5rem;
            background-color: #009DC8;
            padding: 2.5rem 1.25rem 1.25rem 1.25rem;
            .name-suggest{
                padding: .35rem;
                margin: .35rem;
                font-size: .8rem;
                font-weight: 500;
                background-color: #FAD000;
                border: 2px solid rgb(231, 197, 26);
                border-radius: .3rem;
                cursor: pointer;
                opacity: .9;
                &:hover{
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }
        .overlay-background{
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            position: fixed;
            z-index: 1;
            opacity: .5;
            background-color: black;
        }
    }
    .bodyContent{
        min-height: 70vh;
        display: flex;
        flex-wrap: wrap;
    }
    .content-empty{
        height: inherit;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .message{
            color:#FAD000;
            font-size: 5em;
            font-weight: 700;
            @include responsive(phone){
                font-size: 2em;
                font-weight: 500;
            }
        }
    }
}