.formtransaksi {
  width: 50%;
}

@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .formtransaksi {
    width: 100%;
  }
}

.formtransaksi .content {
  padding: 1em 2em;
}

.mobil {
  width: 50%;
  padding: 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .mobil {
    width: 100%;
  }
}

span.errorFeedback {
  color: #D8000C;
}

.xlSize {
  width: 100%;
  height: 100vh;
}

.flex-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4em 2em;
}

@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.yellowText {
  font-size: 1.5em;
  font-weight: 500;
  background-color: #FAD000 !important;
}
/*# sourceMappingURL=transaksi.css.map */