@import './responsive';
.formtransaksi{
    width: 50%;
    @include responsive(tabPort){
        width: 100%;
    }
    .content{
        padding: 1em 2em;
    }
}
.mobil{
    width: 50%;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include responsive(tabPort){
        width: 100%;
    }
}
span.errorFeedback{
    color: #D8000C;
}
.xlSize{
    width: 100%;
    height: 100vh;
}
.flex-center-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    padding: 4em 2em;
    @include responsive(tabPort){
        flex-direction: column;
    }
}
.yellowText{
    font-size: 1.5em;
    font-weight: 500;
    background-color: #FAD000 !important;
}