{% extends 'layout.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/mobil/style_detail.css' %}">
{% endblock css%}

{% block title %} Mobil {{ car.mobil }} {% endblock %}

{% block content %}
<div class="content">
	<section class="row w-100 d-flex justify-content-center">
		<div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
			<div class="d-flex flex-column align-items-center mobilImg">
				<img src="{% static 'img/mobil/car-black_3.png' %}" class="card-img-top" alt="">
			</div>

			<div class="status">
				<span class="font-weight-bold">STATUS : </span> Sedang disewa hingga <span class="font-weight-bold"> {{hingga}} </span>
			</div>
		</div>

		<div class="tabelDiv p-2">
			<span class="mobil"> Mobil {{ car.mobil }} </span>
			<span class="rating"> Rating : {{ car.rating }}/5 </span>
			<span class="harga"> Harga : {{ car.harga }} </span>
			
			<table class="table-borderless">
				<colgroup>
	      	<col span="1" style="width: 40%;">
	       	<col span="1" style="width: 60%;">
		    </colgroup>

			  <tr>
					<th class="font-weight-bold"> Nama Pemilik </th>
					<td>: {{ car.pemilik }} </td>
			  </tr>

			  <tr>
					<th class="font-weight-bold"> Tahun Keluaran </th>
					<td>: {{ car.tahun }} </td>
			  </tr>

			  <tr>
					<th class="font-weight-bold"> Kota </th>
					<td>: {{ car.kota }} </td>
			  </tr>

			  <tr>
					<th class="font-weight-bold"> Deskripsi</th>
					<td> : </td>
			  </tr>

			  <tr>
					<td colspan="2" class="text">{{ car.deskripsi }} </td>
			  </tr>

			  <tr>
			  	<td class="pt-4">
						<a href="{% url 'ulasan:tulis_ulasan' car.id %}" class="btn yellow">Tambah Ulasan</a>
			  	</td>
			  </tr>
			</table>
	</section>
</div>
{% endblock %}

{% block js %}
	<script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
{% endblock js %}