{% extends 'layout.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock css %}

{% block title %}Riwayat{% endblock title %}

{% block content %}
<div class="content">
    <span class="header">Riwayat</span>
    <div class="bodyContent d-flex justify-content-around">
        {% for item in transaksi %}
        <div class="card m-3 p-3 shadow" style="width: 450px; cursor:pointer" onclick="location.href='{% url 'transaksi:riwayatDetail' item.mobil.id %}'">
            <img src="{% static 'img/mobil/car-black_3.png' %}" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">{{item.mobil.mobil}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item.mobil.pemilik}}</h6>
                <p class="card-text">{{item.mobil.deskripsiSnippet}}</p>
            </div>
        </div>
        {% empty %}
        <div class="content-empty">
            <h1 class="message">Yaah.. Content Masih Kosong</h1>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}