{% extends 'layout.html' %}
{% load static %}

{% block css %}
<meta http-equiv="refresh" content="3; url={% url 'transaksi:riwayat' %}">
<link rel="stylesheet" href="{% static 'css/transaksi.css' %}">
{% endblock css %}

{% block title %}Terima Kasih{% endblock title %}

{% block content %}
    <div class="xlSize flex-center-center">
        <h1>Terimakasih Sudah Rental di Kami</h1>
        <span>Pengambilan mobil bisa di lakukan mulai pukul 10:00 pagi waktu pemesanan di kantor kami</span>
        <span>Pengembalian mobil paling telat adalah pukul 10:00 malam waktu pemesanan ke kantor kami</span>
        <span>Keterlambatan pengembalian mobil dikenakan biaya tambahan</span>
    </div>
{% endblock content %}