{% extends 'layout.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/transaksi.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css">
{% endblock css %}

{% block title %}Transaksi{% endblock title %}

{% block content %}
    <div class="content">
      {% if user.is_authenticated %}
        <div class="mobil">
            <div class="d-flex flex-column align-items-center mobilImg">
				<img src="{% static 'img/mobil/car-black_3.png' %}" class="card-img-top" alt="">
			</div>
            <div class="harga">
                <h5>Perjam : <span class='yellowText'>{{mobil.harga}}</span></h5>
            </div>
        </div>
        <div class="formtransaksi">
            <h1>Transaksi</h1>
            <h5>Data Diri Pembeli :</h5>
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="carId" value="mobil.id">
                <div class="form-group">
                    <label for="namaPembeli" class="col-form-label">Nama</label>
                    <input type="text" class="form-control" id="namaPembeli" name="namaPembeli" required>
                </div>
                <div class="form-group">
                    <label for="noHp" class="col-form-label">No Hp</label>
                    <input class="form-control" name="noHp" type="tel" placeholder="+62-(812)-3456-7890" id="noHp" required>
                </div>
                <div class="form-group">
                    <label for="dari" class="col-form-label">Dari</label>
                    <div class="input-append date2">
                        <input id="dari" class="{% if errorDate %} is-invalid {% endif %}" autocomplete="off" name="dari" required>
                    </div>
                    <span class="text-danger">{{errorDate}}</span>
                    <script>
                        $('#dari').datepicker({
                            uiLibrary: 'bootstrap4'
                        });
                    </script>
                </div>
                <div class="form-group">
                    <label for="hingga" class="col-form-label">Hingga</label>
                    <div class="input-append date2">
                        <input id="hingga" class="{% if errorDate %} is-invalid {% endif %}" autocomplete="off" name="hingga" required>
                    </div>
                <span class="text-danger">{{errorDate}}</span>
                    <script>
                        $('#hingga').datepicker({
                            uiLibrary: 'bootstrap4'
                        });
                    </script>
                </div>
                <button type="submit" class="btn yellow">Pesan</button>
            </form>
        </div>
      {% else %}
      <section class="px-5 justify-content-center">
        <h4 class="m-3"> Login terlebih dahulu sebelum melakukan transaksi! </h4> 
        <h4 class="m-3"><a href="{% url 'users:login' %}" class="btn yellow">Login Sekarang</a></h4>
      </section>
      {% endif %}
    </div>
{% endblock content %}

{% block js %}
<script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
{% endblock %}