{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/mobil/style_detail.css' %}">
{% endblock css%}
{% block title %} Tulis Ulasan {% endblock title%}

{% block content %}
<div class="content">
	<section class="px-5 justify-content-center">
	  {% if user.is_authenticated %}
		<h1 class="mx-auto mb-4 font-weight-bold"> 
			TULIS ULASAN
		</h1>

		<form action="" method="post" enctype="multipart/form-data" novalidate>
			{% csrf_token %}
			{{ form|crispy }}
			<input type="submit" value="Tambah Ulasan" class="btn yellow my-4">
		</form>

	  {% else %}
        <h4 class="m-3"> Login terlebih dahulu sebelum memberikan ulasan! </h4> 
        <h4 class="m-3"><a href="{% url 'users:login' %}" class="btn yellow">Login Sekarang</a></h4>
      {% endif %}
	</section>
</div>
{% endblock content %}