{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/mobil/style_detail.css' %}">
{% endblock css%}
{% block title %} Tulis Ulasan {% endblock title%}

{% block content %}
<div class="content">
	<section class="px-5 justify-content-center">
		<h1 class="mx-auto mb-2 font-weight-bold"> 
			ULASAN
		</h1>
		<h4 class="mb-4"> Mobil {{ car.mobil }} - Rating {{ car.rating }}/5 </h4>

    {% for y in lst %}
    <table class="table table-bordered">
		  <tr>
				<td> Nama </td>
				<td> {{ y.nama }} </td>
			</tr>

			<tr>
				<td> Rating </td>
				<td> {{ y.rating }} </td>
			</tr>

			<tr>
				<td> Ulasan </td>
				<td> {{ y.review }} </td>
			</tr>
		</table>
    {% endfor %}
	</section>
</div>

{% endblock content %}