{% extends 'layout.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/mobil/style_detail.css' %}">
{% endblock css%}

{% block title %} Mobil {{ car.mobil }} - {{ car.pemilik }} {% endblock %}

{% block content %}
<div class="content">
	<section class="row w-100 d-flex justify-content-center">
		<div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
			<div class="d-flex flex-column align-items-center mobilImg">
				<img src="{% static 'img/mobil/car-black_3.png' %}" class="card-img-top" alt="">
			</div>
			<a href="{% url 'transaksi:show' id=car.id %}" class="font-weight-bold btn yellow mt-5">SEWA SEKARANG</a>
		</div>

		<div class="tabelDiv p-2">
			<span class="mobil"> 
				Mobil {{ car.mobil }} 
				{% if user.is_authenticated %}
					{% if fav %}
						<i id="{{ car.id }}" class="fa fa-heart click-heart red"></i>
					{% else %}
						<i id="{{ car.id }}" class="far fa-heart click-heart black"></i>
					{% endif %}
				{% endif %}
			</span>
			<span class="rating"> Rating : {{ car.rating }}/5 </span>
			<span class="harga"> Harga : {{ car.harga }} </span>
			
			<table class="table-borderless">
				<colgroup>
	      <col span="1" style="width: 40%;">
	      <col span="1" style="width: 60%;">
		    </colgroup>

			  <tr>
					<th class="font-weight-bold"> Nama Pemilik </th>
					<td>: {{ car.pemilik }} </td>
			  </tr>

			  <tr>
					<th class="font-weight-bold"> Tahun Keluaran </th>
					<td>: {{ car.tahun }} </td>
			  </tr>

			  <tr>
					<th class="font-weight-bold"> Kota </th>
					<td>: {{ car.kota }} </td>
			  </tr>

			  <tr>
					<th class="font-weight-bold"> Deskripsi</th>
					<td> : </td>
			  </tr>

			  <tr>
					<td colspan="2" class="text">{{ car.deskripsi }} </td>
			  </tr>

			  <tr>
			  	<td class="pt-4">
						<a href="{% url 'ulasan:daftar_ulasan' car.id %}" class="btn yellow">Lihat Ulasan</a>
			  	</td>
			  </tr>
			</table>
		</div>
	</section>
</div>
{% endblock %}

{% block js %}
	<script src="https://kit.fontawesome.com/aa8d881418.js" crossorigin="anonymous"></script>
	<script src="{% static 'js/detail_mobil.js' %}"></script> 
{% endblock js %}