{% extends 'layout.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock css%}

{% block title %} Sewa Mobil {% endblock %}

{% block content %}
<div class="content p-5">
	<h1 class="mx-auto mb-4 font-weight-bold header"> 
		SEWA MOBIL
	</h1>
	<div class="search-bar">
		<input type="text" id="search-bar" placeholder="Cari mobil berdasarkan nama atau harga" autocomplete="off">
		<div class="name-suggestion-box" id="suggestionBox">
		</div>
		<div class="overlay-background"  style="display:none"></div>
	</div>
    <div class="bodyContent d-flex justify-content-around" id="carList">
    </div>
</div>
{% endblock %}

{% block js %}
	<script src="{% static 'js/mobil.js' %}"></script>
{% endblock js %}