{% extends 'layout.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
{% endblock css %}

{% block title %}Home{% endblock title %}
{% block content %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <script>
            alert("{{ message }}")
        </script>
        {% endfor %}
    </ul>
    {% endif %}
    
    <div class="content">
        <!-- section1 -->
        <div class="containerGreeting">
            <div class="greeting">
                <img src="{% static 'img/LogoRental.png' %}" width="100%" alt="">
                <p>Ini adalah sebuah website yang harusnya menjual mobil. Dibuat oleh Muhammad Hafiz Maulana, Jeremiah Garcia Tennes, Fairuza Raryasdya Ayunda, dan Farah Nazihah. Desainnya sangat sederhana. Layoutnya sangat menggambarkan mahasiswa fasilkom. sedikit berantakan tapi yasudah lah kami sudah berusaha. Selamat berkunjung, semoga anda tidak bingung.</p>
            </div>
        </div>
        <!-- endSection1 -->
    </div>
{% endblock content %}
