{% extends 'layout.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/users/users_form.css' %}">
{% endblock css%}

{% block title %} Login {% endblock title%}

{% block content %}
<div class="content">
	<section class="px-5 justify-content-center">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <script>
            alert("{{ message }}")
        </script>
        {% endfor %}
    </ul>
    {% endif %}
		<h1 class="my-4 mx-auto font-weight-bold"> 
			Login untuk melakukan transaksi
		</h1>
    <div class="form-login">
      <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
            <div class="form-group">
              <label for="username">Username</label>
              <input id="username" name="username" class="form-control" type="text" placeholder="Username" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input id="password" name="password" class="form-control" type="password" placeholder="Password" required>
            </div>
            <button id="login-submit" type="submit" class="btn btn-primary">Submit</button>
            <a id="signup" class="btn btn-outline-warning" href="{% url 'users:signup' %}"> Sign Up </a>
            <hr/>
            <small class="googleSignIn">Sign In dengan cara lain :</small>
            <div class="login-google" onclick="location.href='{% url 'social:begin' 'google-oauth2' %}'" style="cursor: pointer;">
              <img src="{% static 'img/googleSigninButton.png' %}" width="200" alt=""/>
            </div>
      </form>
    </div>
	</section>
</div>
{% endblock content %}