{% extends 'layout.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/mobil/style_detail.css' %}">
{% endblock css%}

{% block title %} Profile {% endblock %}

{% block content %}
<div class="content">
	<section class="px-5 flex-container justify-content-center">
        {% if messages %}
        <ul class="messages">
              {% for message in messages %}
            <script>
                alert("{{ message }}")
            </script>
              {% endfor %}
        </ul>
        {% endif %}
    
        {% if user.is_authenticated %}
        <div class="flex-container justify-content-center">
            <h1>Halo, {{ user.username }}!</h1><br/>
            <h3>Informasi Pribadi</h3>
        </div>
        <div>
            <table class="table" style="width:30%;">
                <br/>
                <tr>
                  <td>Nama Lengkap</td>
                  <td>: {{ user.profile.nama }}</td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td>: {{ user.username }}</td>
                </tr>
                <tr>
                  <td>Password</td>
                  <td>: ****** </td>
                </tr>
                <tr>
                  <td>Nomor Telepon</td>
                  <td>: {{ user.profile.no_hp }}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td id='email-data'>: {{ user.email }}</td>
                </tr>
                <tr>
                  <td>Tanggal Lahir</td>
                  <td>: {{ user.profile.tgl_lahir }}</td>
                </tr>
                <tr>
                    <td>Kota Domisili</td>
                    <td>: {{ user.profile.kota }}</td>
                </tr>
                <!-- <tr> -->
                    <!-- <td></td> -->
                <!-- </tr> -->
              </table>
        </div>
        <div>
          <a id="ubah" class="mt-3 mb-5 btn btn-warning" href="{% url 'users:edit_profile' %}">Update Data Diri</a>
          <a id='logout-btn' class="mt-3 mb-5 btn btn-warning" href="{% url 'users:logout' %}">Logout</a>
        </div>
        {% else %}
            <h1>Login untuk melakukan transaksi.</h1>
        {% endif %}
	</section>

  {% if user.is_authenticated %}
  <section class="px-5 justify-content-center">
    <h3 class="mb-4"> Mobil Favoritmu </h3>
    <div class="bodyContent d-flex justify-content-around">
      {% for car in fav_car %}
        <div id="{{car.id}}" class="card m-3 p-3 shadow" style="width: 450px;">
          <img src="{% static 'img/mobil/car-black_3.png' %}" class="card-img-top" style="cursor:pointer" onclick="location.href='{% url 'mobil:detail_mobil' car.id %}'">
          <div class="card-body">
            <h5 class="card-title">
              <span style="width: 450px; cursor:pointer;" onclick="location.href='{% url 'mobil:detail_mobil' car.id %}'">
                {{ car.mobil }}
              </span>
              <i id="{{ car.id }}" class="fa fa-heart click-heart red"></i>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ car.harga }}</h6>
            <p class="card-text">{{ car.deskripsiSnippet }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
  {% endif %}
</div>
{% endblock %}
{% block js %}
  <script src="https://kit.fontawesome.com/aa8d881418.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/profile.js' %}"></script> 
{% endblock js %}