{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/users/users_form.css' %}">
{% endblock css%}
{% block title %} Login {% endblock title%}

{% block content %}
<div class="content">
	<section class="px-5 justify-content-center">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <script>
                alert("{{ message }}")
            </script>
            {% endfor %}
        </ul>
        {% endif %}
		<h1 class="mx-auto my-4 font-weight-bold"> 
			Sign up untuk melakukan transaksi
		</h1>
        <div class="form-login">
            <form action="" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                    <div class="form-group">
                        <label for="nama">Nama Lengkap: </label>
                        <input id="nama" name="nama" class="form-control" type="text" placeholder="Nama lengkap anda" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Nomor Telepon: </label>
                        <input id="phone" name="phone" class="form-control" type="tel" placeholder="No Hp yang dapat dihubungi" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input id="email" name="email" class="form-control" type="email" placeholder="Alamat email anda" required>
                    </div>
                    <div class="form-group">
                        <label for="tgl_lahir">Tanggal Lahir: </label>
                        <input id="tgl_lahir" name="tgl_lahir" class="form-control" type="date" placeholder="Tanggal " required>
                    </div>
                    <div class="form-group">
                        <label for="kota">Kota Domisili: </label>
                        <input id="kota" name="kota" class="form-control" type="text" placeholder="Kota tinggal" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input id="username" name="username" class="form-control" type="text" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" name="password" class="form-control" type="password" placeholder="Password" required>
                    </div>
                    <button id="signup-submit" type="submit" class="btn btn-primary">Submit</button>
                    <a id="login" class="btn btn-outline-warning" href="{% url 'users:login' %}"> Login </a>
                    <hr/>
                    <small class="googleSignIn">Sign In dengan cara lain :</small>
                    <div class="login-google" onclick="location.href='{% url 'social:begin' 'google-oauth2' %}'" style="cursor: pointer;">
                        <img src="{% static 'img/googleSigninButton.png' %}" width="200" alt=""/>
                    </div>
            </form>
        </div>
	</section>
</div>
{% endblock content %}