{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/users/users_form.css' %}">
{% endblock css%}
{% block title %} Login {% endblock title%}

{% block content %}
<div class="content">
	<section class="px-5 justify-content-center">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <script>
                alert("{{ message }}")
            </script>
            {% endfor %}
        </ul>
        {% endif %}
		<h1 class="mx-auto mb-4 font-weight-bold"> 
			Update data diri
		</h1>
        <h4>Data yang dapat diubah hanya yang terdapat pada fom ini.</h5>
        <h5>Untuk mengubah data lain, hubungi Administrator pada kontak di bawah.</h5><br/>

        

            <form action="" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
            <table>
            <tr>
                <td><label for="phone">Nomor Telepon:</label></td>
                <td><input type="tel" id="phone" name="phone" placeholder="0878 8755 0000"required></td><br/>
            </tr>

            <tr>
                <td><label for="email">Email:</label></td>
                <td><input type="email" id="email" name="email"><br/></td>
            </tr>

            <tr>
                <td><label for="kota">Kota Domisili: </label></td>
                <td><input id="kota" name="kota" type="text" required></td><br/>
            </tr>
        </table>

        
            <br>
            <h5>Masukan username dan password anda untuk memastikan</h5>
            <h5>bahwa ini benar-benar anda.</h5>
            <br>
            <table>
            <tr>
                <td><label for="username">Username: </label></td>
                <td><input id="username" name="username" type="text" required></td><br/>
            </tr>
        
            <tr>
                <td><label for="password">Password: </label></td>
                <td><input id="password" name="password" type="password" required></td><br/>
            </tr>
        </table>
                <br/>
                <input id="update-submit" type="submit" value="Update" class="btn btn-primary">
            
        </form>
	</section>
</div>
{% endblock content %}